.timeline-container {
   position: relative;
  padding: 60px 40px;
  border-radius: 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.timeline-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  margin-top: -30px;
  font-weight: 700;
  z-index: 2;
}
.timeline-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #ccc; /* adjust color */
  display: block;
  margin-top: 4px;
}


.timeline-svg {
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.timeline-cards {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 35px; /* space between top and bottom row */
  margin-top: 125px;
}

.row {
  display: flex;
  gap: 24px;
}

.top-row {
  justify-content: flex-start;
  margin-left: 20px; /* push inside curve */
}

.bottom-row {
 justify-content: flex-end;
  margin-right: 20px; 
}

.product-card {
  width: 150px;
  height: 170px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  padding: 12px;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease;
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateY(-6px);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.4);
}

.product-card .icon {
  font-size: 2rem;
  margin-bottom: 1px;
}

.top-row {
  margin-top: -40px; 
}

.bottom-row {
  margin-bottom: 20px; 
}

